
.Pdp{
    padding: 80px ;
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
.Pdp-Page{
    max-width: none;
}
.cm-main-image-container{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.cm-main-image-container img{
    height: 450px;  
}
.thumbnailImages-div{
    display: flex;
}
.thumbnailImages-div img{
    width: 70px;
    height: 65px;
    border: 2px solid #000;
}
.product-images{
    width: 25%;
    height: 25px;
    padding-top: 50px;
  
}
.product-details{
    background-color: white;
    height: auto;
}
.product-name{
    color:rgb(179, 72, 225);
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 2rem;
    line-height: 2.5rem;
}
.product-price{
    color: black;
    font-size: 25px;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.product-description{
    color: black;
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.product-button{
    background-color:rgb(206, 132, 237);
    color: rgb(0, 0, 0);
    font-size: 25px;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height: 55px;
    display: flex;
    align-items: center;
}
.custom-field-item{
    margin-bottom: 10px;
    margin: 0;
}

.custom-field p { 
    margin-bottom: 10px;
    margin: 0;
   font-size: 17px;
   font-weight: bold;
   font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   line-height: 30px;
}
.relProduct img{
 height: 200px;
}
.related-Product-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 20px;
    margin-top: 60px;
  }
  .related-products {
    width: 23%;  
    text-align: center;
    background-color: #f8f8f8; 
    padding: 15px;
    border-radius: 8px;
  }
  .related-Product-name {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    margin: 10px ;
    font-family:'Roobert-Bold' !important;
  }
  .related-Product-price {
    font-size: 10px;
    color:black;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  .related-Image {
    width: 100%;
   min-height:200px;
}
.related-product-button{
    background-color: rgb(206, 132, 237);
    color: #000;
    font-size: 10px;
    font-weight:bold;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}
  @media (max-width: 768px) {
    .related-products {
      width: 48%;  
    }
  }

  @media (max-width: 480px) {
    .related-products {
      width: 100%; 
    }
  }
  